/* CSS for registration page. */

/* Styling for the form for registration. */
#signUp {
	display: flex;
	flex-direction: column;
	width: 50%;
	border: 1px solid rgba(225, 225, 225, 1);
	box-shadow: 0px 10px 30px #ADADAD;
	padding: 25px;
	margin: auto;
}

/* Create some space between form elements. */
#signUp > div > input {
	padding: 5px 0px;
}

/* Style the submit button */
#submitReg {
	height: 30px;
	width: 100px;
	align-self: center;
}

/* Feedback on hover of submit button */
#submitReg:hover {
	background-color: rgb(240, 240, 240);
	cursor: pointer;
}

/* Formatting for large screens (change width of form) */
@media only screen and (min-width: 650px) {
	#signUp {
		width: 30%;
	}
}