/* CSS for search page */

/* Style text search bar on search page only. */
#mainSearch {
	height: 30px;
	min-width: 175px;
}

/* Style the form for searching cafes. */
#searchForm {
	text-align: center;
	padding: 25px 40px;
	margin: auto;
	border: 1px solid rgba(225, 225, 225, 1);
	box-shadow: 0px 10px 30px #ADADAD;
}

/* Space elements of search form. */
#searchElements {
	display: flex;
	justify-content: space-around;
}

/* Set height of rating drop down list. */
#ratingFilter {
	height: 30px;
}

/* Style submit button. */
#submitSearch {
	height: 30px;
	width: 100px;
	margin-top: 25px;
}

/* Style for feedback on hover of submit button. */
#submitSearch:hover {
	background-color: rgb(240, 240, 240);
	cursor: pointer;
}

/* For tablet screens & larger. */
@media only screen and (min-width: 650px) {
	#searchForm {
		width: 35%;
	}
}