body {
	margin: 0px;
	padding: 0px;
}

header, footer {
	text-align: center;
	font-size: 25px;
	color: white;
	background-color: black;
	font-family: sans-serif;
	width: 100%;
	padding: 20px 0px;
}

footer {
	position: relative;
	bottom: 0px;
}

div#navBar {
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	background-color: darkgrey;
	color: white;
}

.selected {
	background-color: lightgrey;
	border-left: darkgrey solid 1px;
	border-right: darkgrey solid 1px;
} 

.navItem {
	color: black;
	width: 12%;
	padding: 15px 0px;
	font-size: 20px;
	text-decoration: none;
}

.navItem:hover {
	background-color: lightgrey;
}

#test {
	margin-left: auto;
	width: 25%;
}

#test:hover {
	background-color: darkgrey;
}

#searchBar {
	width: 50%;
}

#submit:hover {
	background-color: white;
}