/* Style sheet for elements present on all pages. */

/* Bring page's contents to edge of screen; set font style and color for text elements on page. */
body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	color: #ADADAD;
}

/* Style elements in the header. */
header {
	text-align: center;
	font-size: 20px;
	width: 100%;
	padding: 15px 0px;
	margin-bottom:15px;
	background-color: #2E1114;
}

/* Style elements in the footer. */
footer {
	text-align: left;
	font-size: 15px;
	padding: 15px 100px;
}

/* Style all horizontal rule lines to give them a softer color and look. */
hr {
	background-color: #ADADAD;
	height: 2px;
	opacity: .5;
	border: 0px;
}

/* Limit width of site logo. */
#siteLogo {
	max-width: 200px;
}

/* Style navigation bar. Align items with flex properties. */
#navBar {
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	background-color: #64485C;
	font-weight: bold;
}

/* Set color of navigation links. */
#navBar > a {
	color: #ADADAD;
}

/* Highlight the current page if it's one of the nav bar links. */
.selected {
	background-color: #83677B;
	border-left: #2E1114 solid 1px;
	border-right: #2E1114 solid 1px;
} 

/* More styling of nav bar items. */
.navItem {
	width: 17%;
	padding: 20px 0px;
	font-size: 18px;
	text-decoration: none;
}

/* Change background of navbar item on hover. */
.navItem:hover {
	background-color: #83677B;
}

/* Move the navbar search box to the right of other elements. */
#navSearch {
	margin-left: auto;
	width: 30%;
}

/* Prevent the search box from being highlighted on hover. */
#navSearch:hover {
	background-color: #64485C;
}

/* Restrict width of search box. */
#searchBar {
	width: 50%;
}

/* Provide hover feedback for submit button in navbar for navbar search box. */
#navSub:hover {
	background-color: white;
}

/* For larger screens, change width of navbar elements. */
@media only screen and (min-width: 650px) {
	.navItem {
		color: black;
		width: 12%;
		padding: 20px 0px;
		font-size: 20px;
		text-decoration: none;
	}
}